
.programlisting {
	border-radius:		3px 3px 3px 3px;
	border-width:		2px;
	border-style:		solid;
	border-color:		#DDDDDD;
	background-color:	#111111;
	background-clip:	padding-box;
	color:			#FFFFFF;
	padding:		10px;
}

.caution {
	background-image:	url("img/admon-caution.png");
}
.important {
	background-image:	url("img/admon-important.png");
}
.note {
	background-image:	url("img/admon-note.png");
}
.tip {
	background-image:	url("img/admon-tip.png");
}
.warning {
	background-image:	url("img/admon-warning.png");
}

.caution,
.important,
.note,
.tip,
.warning {
	margin:			1em 0;
	background-color:	#F9F9FF;
	background-position:	8px 8px;
	background-repeat:	no-repeat;
	border:			1pt solid #E5E5E5;
	color:			#000000;
	min-height:		64px;
	padding-left:		64px;
}

.caution h3.title,
.important h3.title,
.note h3.title,
.tip h3.title,
.warning h3.title {
	margin:			0.5em 0.5em 0.5em 0em;
}

h1,h2,h3,h4,h5,h6 {
	margin:			0;
}
h1 {
	font-size:		1.6em;
}
h2 {
	font-size:		1.5em;
}
h3 {
	font-size:		1.4em;
}
h4 {
	font-size:		1.3em;
}
h5 {
	font-size:		1.2em;
}
h6 {
	font-size:		1.1em;
}

div.authorgroup,div.author {
	margin:			1em 0 1em 0;
}
h3.author {
	font-size:		1.2em;
}

ul.itemizedlist[compact="compact"] li p {
	margin:			0;
}

blockquote.blockquote {
	background:		#f9f9f9;
	border-left:		10px solid #cccccc;
	margin-left:		0.5em;
	padding-top:		1.2em;
	padding-right:		0.5em;
	padding-bottom:		0em;
	padding-left:		0.5em;
	quotes:			"\201C""\201D""\2018""\2019";
}

blockquote.blockquote:before {
	color:			#cccccc;
	content:		open-quote;
	font-size:		4em;
	line-height:		0.1em;
	margin-right:		0.1em;
	vertical-align:		-0.4em;
}

blockquote.blockquote:after {
	color:			#cccccc;
	content:		close-quote;
	font-size:		4em;
	line-height:		0.1em;
	margin-left:		0.1em;
	vertical-align:		-0.7em;
}

blockquote.blockquote p {
	display:		inline;
}

