/* css file for debian web site - Jutta Wrage 2004 */
/* please see README_CSS.txt for more information */

html, body {
	color: #000000;
	background-color: #FFFFFF;
	margin: 0 4px 0 4px;
	padding: 0;
}

img { border: 0px; }

h1 { text-align: left; }

#wrapper {
    margin: 2em;
    width: auot;
}

acronym {
	border-bottom: 1px dotted #000000;
}

hr.hidecss {
	border: 0;
}

hr {
	border-bottom: 0;
	border-top: 1px solid #BFC3DC;
}

samp {
	display: block;
	margin-left: 2em;
}
div.sampleblock {
	width: 80%;
	margin: auto;
	font-family:courier, serif;
	font-size: 90%;
}
.centerblock {
        width: 90%;
	margin-left: auto;
	margin-right: auto;
}		
div.quoteblock {
	width: 75%;
	margin: auto;
	font-size: 90%;
	text-align: justify;
}

.quoteblock div.preimg {
	float: left;
	margin-top: 0.2em;
}
.quoteblock cite {
	display: block;
	text-align: right;
}
blockquote.question {
	font-style: italic;
}
blockquote.question p span {
	font-style: normal;
	width: 10%;
}
#pagewidth {
	width: 100%;
	text-align: left;
}

/* now the header*/
#header {
	margin-left: -3px;
	width: 100%;
	height: auto;
}

/* upper nested header box*/
#upperheader {
	width: 100%;
	margin-top: 11px;
	height: auto;
	background: #FFFFFF;
}

#logo {
	float: left;
	margin-left: 6px;
	background: #FFFFFF;
}

#serverselect {
	float: right;
	display: block;
	padding-top: 1px;
	margin-right: 6px;
	margin-left: auto;
	text-align: right;
	top: 0;
	right: 0;
}

#serverselect p {
	color: #990000;
	font-size: 0.8em;
	font-weight: normal;
}

#serverselect p select {
	font-size: 88%;
}

#serverselect p input {
	font-size: 88%;
}
.centerlogo {
	margin-left: 260px;
	margin-right: auto;
	width: 125px;
	text-align: center;
	vertical-align: bottom;
}
#cdlogo {
}

#hpacketsearch {
	display: block;
	padding-top: 1px;
	padding-left: 5px;
	margin-right: 0.2em;
	margin-left: auto;
	text-align: left;
	width: 25em;
	top: 0em;
	right: 0em;
}

#hpacketsearch p small {
	color: #990000;
	font-size: 0.8em;
	font-weight: normal;
}

#hpacketsearch p select {
	font-size: 88%;
}

#hpacketsearch p input {
	font-size: 88%;
}

#navbar {
	/* margin-top: 1em; */
	clear: both;
	padding-left: 0px;
	/* margin-top: 5px; */
	padding-top: 6px;
	padding-bottom: 4px;
	width: 100%;
	height: auto;
	text-align: center;
	background: #BF1238;
}
#navbar ul {
	display: inline;
	list-style-type: none; 
	padding-left: 0px;
	line-height: 1.5em;
}
#navbar ul li {
	display: inline;
	margin: 0;
	white-space: nowrap;
}
#navbar a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 0.2em 0.4em 0.2em 0.4em;
	background-color: #000084;
	border: 1px solid #000084;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
}
#navbar a:hover {
	background: #0000CC;
}
#navbar .hidecss, .hidecss {
	display: none;
}

/* the rest of page out of two nested boxes around */

#outer {
	background-color: #FFFFFF;
	width: auto;
	/* border:solid white 2px; */
}

#inner {
	margin: -2px;
	margin-top: 0;
	width: 100%;
	background: #FFFFFF;
	/* overflow: auto; */
}

#leftcol {
	float: left;
	margin: 0em 0.4em 0 0;
	padding-left: 0;
	padding-bottom: 1em;
	width: auto;
	background: #BBDDFF;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #BBDDFF;
	/* overflow: auto; */
}
#leftcol a:link, #leftcol a:visited {
	display: block;
}
#leftcol a:hover {
	background-color: #DDEEFF;
	/* background-color: #FFFFFF; */
}
#leftcol ul {
	margin: 2px;
	padding: 0;
	list-style-type: none;
	font-weight: bold;
}
#leftcol ul.votemenu {
	width: 11em;
}
#leftcol ul.cdmenu {
	width: 12em;
}
#leftcol ul.votemenu ul li, #leftcol ul.cdmenu ul li {
	padding-bottom: 0.4em;
}
#leftcol li ul {
	display: inline;
}
#leftcol ul li {
	padding: 0.2em 0;
}
#leftcol ul ul {
	font-size: 0.9em;
	margin: 0;
}
#leftcol ul li a {
	line-height: 1.2em;
	padding-right: 0.5em;
	/* padding: 0.2em 0 0.3em 0em; */
}
#leftcol ul ul li a {
	font-weight: normal;
	padding: 0.1em 0.5em;
	line-height: 1.1em;
}
#leftcol ul ul li {
	padding-top: 0;
}
#leftcol p {
	margin-left: 2px;
	margin-right: 2px;
}
#leftcol p a {
	display: block;
	margin: 0;
}
#leftcol p img {
	margin-left: 1em;
}
#leftcol .menuselected {
	color: #BF1238;
}
#leftcol ul ul .menuselected {
	text-indent: 0.5em;
}
#maincol {
	background: #FFFFFF;
	margin-left: 12em;
	margin-right: 0.5em;
	margin-bottom: 1em;
}

#lefthalfcol {
	float: left;
	margin-left: 0em;
	width: 49%;
}

#lefthalfcol h4, #lefthalfcol h3 , #righthalfcol h4, #righthalfcol h3 {
	margin: 0em;
}
	
#lefthalfcol dl {
	margin-top: 0em;
}

#righthalfcol {
	margin-left: 50%;
	width: 49%;
}

#righthalfcol dl {
	margin-right: 0.2em;
}

#footer {
	clear: both;
	width: 100%;
	padding-top: 3px;
	bottom: 0;
	text-align: center;
	margin: 0px;
}

#fineprint {
	margin-top: 0.2em;
	padding-top: 3px;
	text-align: center;
	font-size: 0.85em;
}

#outer>#inner { border-bottom: 1px solid #BFC3DC; }
.bordertop { border-top: 1px solid #BFC3DC; }

dl.gloss dt {
	font-weight: bold;
}

#footer ul {
	display: inline;
	list-style-type: none;
}

#footer ul li {
	display: inline;
}

#footer ul li a, table.y2k td {
	white-space: nowrap;
}

#footer p {
	margin: 0px;
}

#main {
	background: #bbddff;
	padding: 1em 0; /* have some padding to get rid of collapsed margins */
}

/* classes for cards */

.cardleft {
	margin: 0 0 1em;
	float: left;
	width: 49%;
}
.cardright {
	margin-left: 50%
	/*margin: 0 1% 2em 50%; */
}
.card {
	clear: left;
	margin: 0 0 1em;
}

.cardleft h2, .cardright h2, .card h2 {
	font-size: 120%;
	background: #000000;
	color: #FFD400;
	display: inline;
	padding: 0.2em 0.4em;
	margin: 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.2em;
}

.cardleft dl dd, .cardright dl dd , .card dl dd {
	padding-bottom: 0.5em;
}

.cardleft div, .cardright div, .card div {
	border: 2px solid #000000;
	background: #FFFFFF;
	padding: 0.5em;
	margin: 2px 10px;
	/* the next two lines xpand the div to heigth of left inner div */
	overflow: auto;
}

div.lefthalf {
	float: left;
	width: 49%;
	border: 0;
	margin: 0; 
	padding: 0;
}

div.righthalf {
	border: 0;
	margin: 0;
	padding: 0;
}
/* classes and div names for package pages */

#pdesc, #pdeps, #pdownload, #pmoreinfo {
	margin-left: 1em;
	margin-right: 1em;
}

#pdesc p {
	text-align: justify;
}

.pdescshort {
	text-align: left;
	font-size: large;
	font-weight: bold;
}

#pdeps table tr td {
	font-size: 0.9em;
}

#pdeps ul {
	list-style-type: none;
	padding-left: 2em;
}

#pdeps li {
	text-indent: -2em;
}

#pdeps ul.uldep, #pdeps ul.uladep {
	list-style-type: disc;
	list-style-image: url(https://packages.debian.org/Pics/dep.gif);
}

#pdeps ul.ulrec, #pdeps ul.ulidep {
	list-style-type: disc;
	list-style-image: url(https://packages.debian.org/Pics/rec.gif);
}

#pdeps ul.ulsug {
	list-style-type: disc;
	list-style-image: url(https://packages.debian.org/Pics/sug.gif);
}

#pdeps ul.uldep li, #pdeps ul.ulrec li, #pdeps ul.ulsug li, #pdeps ul.uladep li, #pdeps ul.ulidep li {
	padding-left: 2em;
}
#pdeps dl {
	margin: 0;
}

#pdownload p, #pdownload form, #pdownload submit {
	display: inline;
}

#pdownload td {
	font-size: 0.85em;
	text-align: center;
}

#pmoreinfo p {
	font-size: 0.85em;
}

/* colors for packages, warnings and news in ports */
.pred, .warning, dt.new, .no {
	color: red; /* FF0000 */
}

.psmallcenter, .psmalltrademark {
	clear: both;
	font-size: 0.85em;
	text-align: center;
}

.psmalltrademark {
	color: green;
}
#pdownload table, table.ridgetable, table.reltable {
	border-width: 4px;
	border-color: gray;
	margin: 0 1em 1em 1em;
	border-style: ridge;
	border-collapse: collapse;
}
table.vote {
	margin: 0 auto;
	border-width: 3px;
	border-color: gray;
	border-style: ridge;
	border-collapse: collapse;
}
#pdownload th, #pdownload td, table.ridgetable th, table.ridgetable td,
	table.reltable td, table.reltable th {
	border: 2px gray;
	border-style: ridge;
	padding: 0.1em;
}
table.reltable th {
	background-color: #44CCCC;
}
table.vote th {
	border: 1px solid gray;
	background-color: #DDDDDD;
}
table.vote td {
	border: 1px solid gray;
	padding: 4px;
}
table.reltable tr.odd {
	background-color: #FFFFFF;
}
table.reltable tr.even {
	background-color: #DDDDDD;
}
table.stattrans {
	margin: 0 auto;
	width: 95%;
	border: 1px solid black;
	background-color: #cdc9c9;
}
table.stattrans th {
	text-align: center;
	padding: 2px;
}
table.stattrans td {
	text-align: right;
	padding: 2px;
}
table.stattrans tbody th {
	text-align: left;
	font-weight: normal;
}
table.volatile {
	border-collapse: collapse;
}
.volatile th, .volatile td {
	text-align: left;
	border: 1px solid black;
	padding: 0.2em;
}
.volatile thead {
	background-color: silver;
	color: #000000;
}
table.volatile tr.country {
	color: #ffffff;
	background-color: #df0451;
}

/* partners */
.partnertype {
	background-color: #DD0000;
	padding: 0.2em 0 0.2em 1em;
	color: #FFFFFF;

}
div.partnerlogo {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 30%;
}
div.partnerdesc {
	display: table-cell;
	font-size: 85%;
}
div.cdflash {
	background-color: #E09E86;
	width: 80%;
	margin: auto;
	text-align: center;
}
.cdrsync {
	color: #6B1300;
}
/* debian installer */

.dierror {
	background-color: #FF6060;
}
.dibad {
	background-color: #F7FF60;
}
.digood {
	background-color: #7AFF71;
}

/* useful classes */

th.eventheader {
	background-color: #BBDDFF;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
ul.circlelist {
	list-style-type: circle;
}
.centerdiv table {
	margin-left: auto;
	margin-right: auto;
}
ul.discless {
	list-style-type: none;
}
.top, img.ico {
	vertical-align: top;
}
img.ico {
	float: left;
	margin: 0 0.2em 0 0;
}
img.rightico {
	float: right;
	vertical-align: top;
	margin: 0 0 0 0.2em;
}
img.cve {
	vertical-align: -25px;
}
.y2kok, .yes {
	color: #00BB00;
}
.y2kok2 {
	color: #00BBBB;
}
.bluehead {
	color: #0000FF !important;
}
span.halfsize {
	font-size: 80%;
}
span.ddpbooktitle, span.merchtitle {
	font-size: larger;
}
a:link { color: #0000FF; }
a:visited { color: #800080; }
a:hover { color: #F000FF; }
a:active { color: #FF0000; }

.navpara a, col.y2k {
	white-space: nowrap;
	/* this is to keep from breaking at whitespace in anchors */
}


.underline { text-decoration: underline; }
.clr { clear:both; }
/*.content{padding:5px;} */ /*padding for content */
/* #header .content{padding-bottom:0;} */ /*padding bottom 0 to remove space in IE5 Mac*/

/* for l10n-arabic */
.bidi {
	direction: rtl;
	text-align: right;
}

#leftcol, #navbar, #navbar a {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	/* these go to the end as the css validator does not like them
	will be replaced by border-radius with css3 */
}

/* /CD/vendors/ */
table.vendors {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #AAAAAA;
}

table.vendors th {
	background: #BBDDFF;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #3e4955;
	padding: 0.2em;
	border: 1px solid #AAAAAA;
	border-bottom: none;
	text-align: left;
}

table.vendors tr.b td {
	background-color: #EEEEEE;
}

table.vendors td {
	padding: 0.2em;
	vertical-align: top;
}
